[user]
	email = 
	name = 
	signingKey = 

[alias]
	# Show a list of these aliases
	aliases = config --get-regexp alias
	# Git commit, but copy last commit's message and open vim
	reuse = commit --reedit-message=head --reset-author
	# amend commit
	amend = commit --amend
	# amend last commit without updating commit message
	fastamend = commit --amend --no-edit --reset-author
	# condensed git log with only hash, message and tags
	list = log --oneline
	# graph view (git log but with all branches and where they diverged and/or merged)
	graph = log --graph --decorate \
	  --pretty=format:'%C(auto)%h%d %s %C(blue)<%an>%Creset %C(green)%cr%Creset' \
	  --abbrev-commit --all
	# condensed graph view
	minigraph = log --graph --decorate --pretty=oneline --abbrev-commit --all
	# unstage all staged changes
	unstage = reset head --
	# git log, but only show commit at head
	head = log -1 head
	# shorthands
	st = status
	ch = checkout
	br = branch
	gr = graph

[push]
	# auto-create remote when pushing new branches
	autosetupremote = true

[pull]
	# disable merge on pull (only allow fast-forward)
	ff = only

[gpg]
	# use ssh key for signing
	format = ssh

[commit]
	# auto-sign commits
	gpgsign = true

# Additional git config when instide specific subdirectory
# [includeIf "gitdir:~/git/<subdirectory>/**"]
	# path = ~/git/<subdirectory>/.gitconfig
